.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://as2.ftcdn.net/v2/jpg/05/31/27/67/1000_F_531276723_WVWlANKtDQmwSxwW5P2Yn4hngudDeCSg.webp');
  background-position: center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  font-family: 'Dancing Script', cursive !important;
}

/* Estilos del formulario de login */
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  border: 5px solid #000000;
  color: white;
  box-shadow: 0 1px 0 #cfcfcf;
}

.inputs{
  font-size: 22px;
  border-radius: 5px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;

}

.chat-input {
  margin-bottom: 20px;
}

.wrapper {
  text-align: center;
}

/* Estilos del botón de login */
.btn-login {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}

.errormessage {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInOut 5s ease;
}

/*animación*/
@keyframes fadeInOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

