/* VerCitas.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.cita {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;

}

.cita p {
  margin: 5px 0;
  font-size: large;
  font-family: cursive;
}

.button-container {
  text-align: center;
}

.button-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}
