/* VerTrabajadores.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .buttonContainer {
    text-align: right;
    margin-top: 20px;
  }
  
  .addButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  
  .deleteButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  
  .trabajadoresList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .trabajador {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .trabajador p {
    font-size: large;
    font-weight: bold;
    font-family: 'Cursive';
  }

  .deleteButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  